asgiref==3.3.1
beautifulsoup4==4.9.3
Django==3.0.2
django-bootstrap4==2.3.1
django-filter==2.4.0
django-grappelli==2.14.2
django-registration-redux==2.8
djangorestframework==3.12.2
Markdown==3.3.3
Pillow==8.0.1
pytz==2020.4
soupsieve==2.0.1
sqlparse==0.4.1
